$highlight-background   : #282923;
$highlight-foreground   : #f8f8f2;
$highlight-comment      : #969896;
$highlight-red          : #ff0000;
$highlight-orange       : #998685;
$highlight-yellow       : #e7db74;
$highlight-green        : #54f808cc;
$highlight-aqua         : #8abeb7;
$highlight-blue         : #67d8e5;
$highlight-purple       : #ac80ff;
